.footer {
    height: 10vh;
    background: hsl(202, 27%, 62%);
}

.footer__content {
    width: 86%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}

.footer__link {
    font-weight: 700;
    color: blue;
}