* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  color: black;
  font-size: 20px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #c6e1f0;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 25px;
  padding-bottom: 30px;
}

button {
  cursor: pointer;
}

a:hover, button:hover {
  scale: 1.1;
}


main {
  width: 86%;
  margin: 0 auto;
  min-height: 80vh;
}

@media (max-width: 760px) { 
  * {
    font-size: 14px;
  }

  h1 {
    font-size: 22px;
  }
  
  h2 {
    font-size: 18px;
  }
 }